.idea
.classpath
.clj-kondo/*
!.clj-kondo/config.edn
.cpcache
.lsp/
lsp/
.nrepl-history
.nrepl-port
.vscode
*.class
*.jar
*~
*.iml
/classes
/target
.calva
.DS_Store
.portal/
node_modules
.shadow-cljs/
.env
.env.local
