{:deps {:aliases [:dev :cljs :shadow]}
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/assets/js"
                :module-hash-names true
                :modules {:main {:init-fn ui.main/init!}}
                :devtools {:watch-dir "resources/public"
                           :watch-path "/assets"
                           :after-load ui.main/render!}
                :release {:build-hooks [; Update file name in index.html with hash
                                        (api.util.build/hash-css
                                          {:output-file-path "resources/public/css/output-prod.css"
                                           :file-name-in-html "output.css"})
                                        ; Update js file name in index.html with hash
                                        (shadow.html/copy-file
                                          "resources/public/index.html"
                                          "resources/public/index.html")]}}}}
