{:api.db/db {:options {:jdbc-url #profile {:default #env DATABASE_URL
                                           :test "jdbc:tc:postgresql:15.2-alpine3.17:///databasename?TC_DAEMON=true"}
                       :minimum-pool-size 3
                       :maximum-pool-size 15}}

 :api.handler/handler {:options {:reloaded? #profile {:default false
                                                      :dev true}
                                 :cache-assets? #profile {:default false
                                                          :prod true}}
                       :db #ig/ref :api.db/db}

 :api.server/server {:options {:port #profile {:default 8000
                                               :prod 80
                                               :test #free-port true}}

                     :handler #ig/ref :api.handler/handler}}
